
.wrapper-shoes {
	text-align: left;
}

.cards {
	display: flex;
	flex-flow: wrap;
}

a{
	text-decoration: none;
	color: #fff;
}
.card-wrapper {
	width: 33.33%;
}
.card-content{
	img {
		transition: 250ms ease;
		max-width: 100%;
	}
	
	.row {
		display: flex;
		margin-top: 0.6rem;
		text-align: center;
		justify-content: center;
	}
	
	&--title {
		margin: 0;
		font-size: 1rem;
	}

	&--price {
		margin: 0;
		font-size: 1rem;
		margin-left: 0.7rem;
	}

	&--description {
		margin-top: 0.3em;
		font-size: 0.9rem;
		text-align: center;
		visibility: hidden;
		opacity: 0;
		transition: 250ms ease;
	}

	&:hover {
		img {
			transform: scale(1.2);
		}

		&--description {

			visibility: visible;
			opacity: 1;
		}
	}
}

.hero-banner {
	position: relative;
	.cta-banner{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
	}
}

picture {
	display: flex;
	overflow: hidden;
}

.read-the-docs {
	color: #888;
}
