#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	font-weight: 100;
	line-height: 1;
}

header {
	font-size: 0.7rem;
	text-align: left;
	display: flex;
	align-items: baseline;

	h1,
	h2 {
		margin-top: 0;
	}

	h2 {
		font-weight: 200;
		font-size: 1.2rem;
	}
}

.wrapper-shoes {
	text-align: left;
}

.cards {
	display: flex;
	flex-flow: wrap;
}

.card {
	width: 33.33%;

	img {
		transition: 250ms ease;
		max-width: 100%;
	}

	.row {
		display: flex;
		margin-top: 0.6rem;
		text-align: center;
		justify-content: center;
	}

	.card--title {
		margin: 0;
		font-size: 1rem;
	}

	.card--price {
		margin: 0;
		font-size: 1rem;
		margin-left: 0.7rem;
	}

	.card--description {
		margin-top: 0.3em;
		font-size: 0.9rem;
		text-align: center;
		visibility: hidden;
		opacity: 0;
		transition: 250ms ease;
	}

	&:hover {
		img {
			transform: scale(1.2);
		}

		.card--description {

			visibility: visible;
			opacity: 1;
		}
	}
}

picture {
	display: flex;
	overflow: hidden;
}

.read-the-docs {
	color: #888;
}

@media (prefers-reduced-motion: no-preference) {
	a {
		&:nth-of-type(2) {
			.logo {
				animation: logo-spin infinite 20s linear;
			}
		}
	}
}